@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  background-color: rgb(10, 0, 32);
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slide {
    display: flex;
    height: 80vh;
    color: #fff;
    flex: 1;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: all 500ms ease-in-out;
}

.slide h3{
    bottom: 20px;
    font-size: 24px;
    left: 20px;
    position: absolute;
    margin: 0;
    opacity: 0;
}


.slide.active {
    flex: 10;
}

.slide.active h3 {
    opacity: 1;
    transition: opacity 0.3ms ease-in 0.5s;

}